= form_tag calculator_path do
  %p
    Items
    = number_field_tag 'items'

  %p
    Price per item
    = number_field_tag 'price_per_item'

  %p
    In which country you want to pay tax?
    = text_field_tag 'cc'

  = submit_tag "How much do I have to pay?"
